form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}
label p {
  font-size: 20px;
  margin: 0;
}
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
button {
  display: block;
  margin-top: 20px;
}
div {
  font-size: 14px;
}
