.hook {
  width: 400px;
  margin-top: 100px;
}
.hook__text {
  display: block;
}
.hook__input,
.hook__button {
  width: 100%;
  font-size: 1.8rem;
}
.hook__input {
  padding: 5px;
}
.hook__button {
  padding: 10px;
  margin-top: 10px;
}
.hook__error {
  margin: 0;
  font-size: 1.4rem;
  color: red;
}
